<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Adaugă o mașină</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/navBarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/footerStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/popoutStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/addCarStyle.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"/>
</head>
<body>

<header th:replace="/nav_bar :: nav_bar"></header>

<div class="container" style="margin-top: 270px;margin-bottom: 250px">
    <form th:action="@{/car/add}" method="post">
        <div class="input-field">
            <input type="text" id="vin" name="vin" required="required" placeholder="Introduce-ți numărul seriei de șasiu">
            <label for="vin"></label>
        </div>

        <div class="info-links">
            <a href="#" onclick="openModal()">Ce este seria de șasiu?</a>
            <a href="#" onclick="openModal2()">Unde găsesc seria de șasiu?</a>
        </div>

        <button type="submit" style="margin-top: 30px">Salvare</button>
    </form>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-line"></div>
        <span class="close" style="margin-top: -23px" onclick="closeModal()">&times;</span>
        <p class="modal-text" style="margin-top: 40px">
            Numărul seriei de șasiu, abreviat VIN (Vehicle Identification Number în țările europene) este o
            combinație unică de 17 caractere care identifică un anumit vehicul.
            Acest număr este atribuit vehiculului de către producător și identifică nu numai seria, modelul și anul de
            fabricație, ci și anumite informații, cum ar fi tipul de motor.
        </p>
        <p class="modal-text">
            Producătorii de vehicule sunt direct responsabili pentru unicitatea seriei lor de șasiu.
        </p>
        <p class="modal-text">
            Seria de sasiu contine 3 componente:
        </p>

        <ul>
            <li class="modal-text" style="margin-left: 40px"> prima parte alcătuită din 3 caractere face referire la producătorul mașinii
            </li>
            <li class="modal-text" style="margin-left: 40px">a două parte constă în 6 caractere și oferă informații generale despre vehicul
                (tipul de codificare și secvență acestor caractere diferă de la un producător la altul)
            </li>
            <li class="modal-text" style="margin-left: 40px"> a treia parte constă în 8 caractere în care sunt specificate anul fabricației
                și apoi codul de serie în partea a două.
            </li>
        </ul>

        <p class="modal-text">
            În alcătuirea seriei de șasiu sunt permise cifre arabe și majuscule latine. Exemplu: 1, 2, 3, 4,
            5, 6, 7, 8,
            9, 0 și: A, B, C, D, E, F, G, H, J, K, L, M, N, P, R, S, T, U, V, W, X, Y, Z excepție făcând:
            I,O,Q.
        </p>
        <p class="modal-text">
            Seria de șasiu este trecută pe o singură linie, fără spații.
        </p>
    </div>
</div>

<div id="myModal2" class="modal">
    <div class="modal-content">
        <div class="modal-line"></div>
        <span class="close" onclick="closeModal2()" style="margin-top: -23px">&times;</span>
        <p class="modal-text" style="margin-top: 40px">
            Seria de șasiu (număr unic de identificare) este marcată pe elementele care sunt conectate permanent la
            vehicul (șasiu). Se găsește de obicei la exteriorul vehiculului, pe bord, lângă șofer, lângă geam, sau în
            altă locație aleasă de producătorul vehiculului, în documentele tehnice, precum și în alte documente precum
            documentele de asigurare și de înmatriculare.
        </p>
    </div>
</div>

<script>
    const modal = document.getElementById("myModal");
    function openModal() {
        modal.style.display = "block";
    }
    function closeModal() {
        modal.style.display = "none";
    }
    window.onclick = function (auctionEvent) {
        if (auctionEvent.target === modal) {
            modal.style.display = "none";
        }
    };

    const modal2 = document.getElementById("myModal2");
    function openModal2() {
        modal2.style.display = "block";
    }
    function closeModal2() {
        modal2.style.display = "none";
    }
    window.onclick = function (auctionEvent) {
        if (auctionEvent.target === modal2) {
            modal2.style.display = "none";
        }
    };
</script>

<footer th:replace="/footer :: footer" style="margin-top: 20%"></footer>

</body>
</html>
