<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="3;url=/images/upload">
    <title>Adaugă o mașină</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/addCarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <nav class="nav-bar">
        <ul>
            <li>
                <a th:href="@{/}">Acasă</a>
            </li>
            <li>
                <a th:href="@{/car/add}" class="active">Inventar</a>
                <ul>
                    <li><a th:href="@{/cars}">Masinile mele</a></li>
                </ul>
            </li>
            <li>
                <a href="">Căutare mașini</a>
                <ul>
                    <li><a href="">Option 1</a></li>
                    <li><a href="">Option 2</a></li>
                    <li><a href="">Option 3</a></li>
                </ul>
            </li>
            <li>
                <a href="">Ghid licitare</a>
            </li>
        </ul>
    </nav>

    <script>
        hamburger = document.querySelector(".hamburger");
        hamburger.onClick = function () {
            navBar = document.querySelector(".nav-bar");
            navBar.classList.toggle("active");
        }
    </script>
</header>

<body>
<form th:action="@{/car/add}" method="post">
    <div style="text-align: center;">

        <label for="vin"></label>
        <input type="text" required="required" id="vin" name="vin" placeholder="Pretul minim">

        <input type="submit" value="Conectare">
    </div>
</form>
</body>
</html>
