<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Vizualizeaza masinile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/viewCarStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/navBarStyle.css">
</head>

<body>
<header>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <nav class="nav-bar">
        <ul>
            <li>
                <a th:href="@{/}">Acasă</a>
            </li>
            <li>
                <a th:href="@{/car/add}" class="active">Inventar</a>
                <ul>
                    <li><a th:href="@{/cars}">Masinile mele</a></li>
                </ul>
            </li>
            <li>
                <a href="">Căutare mașini</a>
                <ul>
                    <li><a href="">Option 1</a></li>
                    <li><a href="">Option 2</a></li>
                    <li><a href="">Option 3</a></li>
                </ul>
            </li>
            <li>
                <a href="">Ghid licitare</a>
            </li>
        </ul>
    </nav>

    <script>
        hamburger = document.querySelector(".hamburger");
        hamburger.onClick = function () {
            navBar = document.querySelector(".nav-bar");
            navBar.classList.toggle("active");
        }
    </script>
</header>

<main>
    <form th:href="@{/create/auction/car/{id}(id=${car.id})}" method="post">
        <div class="box">
            <div class="form">
                <h2>Creeaza o licitatie</h2>

                <div class="inputBox">
                    <div class="inputBox">
                        <label for="minimumPrice"></label>
                        <input type="text" required="required" id="minimumPrice" name="minimumPrice"
                               placeholder="Pretul minim">

                        <i></i>
                    </div>

                    <br>
                    <input type="submit" value="Adaugă">
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>