<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vizualizeaza masinile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/carListStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navBarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/footerStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header th:replace="/nav_bar :: nav_bar"></header>

<form method="GET" action="/auctions">
    <div class="search-container" style="margin-top: 200px">
        <div class="input-column">
            <label>
                <input type="text" name="producer" placeholder="Producător">
            </label>
            <label>
                <input type="text" name="model" placeholder="Model">
            </label>
        </div>
        <div class="input-column">
            <select id="yearFrom" class="year-dropdown">
                <option value="" disabled selected>Anul fabricației de la</option>
            </select>
            <label>
                <input type="text" name="yearTo" placeholder="Anul fabricației până la">
            </label>
        </div>
        <div class="input-column">
            <label>
                <input type="text" name="priceFrom" placeholder="Prețul de la">
            </label>
            <label>
                <input type="text" name="priceTo" placeholder="Prețul până la">
            </label>
        </div>
        <button class="search-button">Search</button>
    </div>
</form>

<div class="car-list">
    <table class="table">
        <thead>
        <tr>
            <th>Producător</th>
            <th>Model</th>
            <th>Anul fabricației</th>
            <th>Prețul curent</th>
            <th>Afișează</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car, stat : ${carPage.content}">
            <td th:text="${car.producer}" style="padding-top: 20px;"></td>
            <td th:text="${car.model}" style="padding-top: 20px;"></td>
            <td th:text="${car.modelYear}" style="padding-top: 20px;"></td>
            <!-- if the car is not in an auction then it does not have a minimum price so don`t display this field -->
            <td>
                 <span th:if="${auctionsMinimumPriceList[stat.index] != 0} and ${car.isAuctioned}"
                       th:text="${auctionsMinimumPriceList[stat.index]}" style="padding-bottom: -20px;">
                 </span>

                <i th:if="${auctionsMinimumPriceList[stat.index] == 0} and ${!car.isAuctioned}"
                   class="fas fa-question-circle fa-lg" style="padding-top: 15px"></i>
            </td>
            <td>
                <a th:href="@{/bid/car/{id}(id=${car.id})}" class="btn btn-get-car">
                    <i class="fa fa-car"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="pagination">
    <ul class="pagination" style="margin-left: 50px">
        <li th:class="${currentPage == 0}? 'disabled' : ''">
            <a th:href="@{/cars(page=0)}">First</a>
        </li>
        <li th:class="${currentPage == 0}? 'disabled' : ''">
            <a th:href="@{/cars(page=${currentPage - 1})}">Previous</a>
        </li>
        <li th:each="pageNumber : ${pageNumbers}" th:class="${currentPage == pageNumber}? 'active' : ''">
            <a th:href="@{/cars(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
        </li>
        <li th:class="${currentPage == pageNumbers.size() - 1}? 'disabled' : ''">
            <a th:href="@{/cars(page=${currentPage + 1})}">Next</a>
        </li>
        <li th:class="${currentPage == pageNumbers.size() - 1}? 'disabled' : ''">
            <a th:href="@{/cars(page=${pageNumbers.size() - 1})}">Last</a>
        </li>
    </ul>
</div>

<footer th:replace="/footer :: footer"></footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const yearFromSelect = document.getElementById("yearFrom");
        const currentYear = new Date().getFullYear();

        for (let year = 1900; year <= currentYear; year++) {
            if (year < 2000 && year % 10 !== 0) {
                continue;
            }

            const option = document.createElement("option");
            option.value = year;
            option.text = year;
            yearFromSelect.add(option);
        }
    });
</script>
</body>
</html>
