<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vizualizeaza masinile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/carListStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/navBarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/footerStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/noCarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/paginationStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

    <script src="/js/yearDropDownMenu.js"></script>
    <script src="/js/priceDropDownMenu.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<header th:replace="/nav_bar :: nav_bar"></header>

<div th:include="/searchMenu :: form" style="margin-top: 200px"></div>

<div class="car-list">
    <table class="table">
        <thead>
        <tr>
            <th>Producător</th>
            <th>Model</th>
            <th>An fabricați</th>
            <th>Preț curent</th>
            <th>Șterge</th>
            <th>Afișează</th>
            <th>Status licitație</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car, stat : ${carPage.content}">
            <div>
                <td th:text="${car.producer}" style="padding-top: 20px;"></td>
                <td th:text="${car.model}" style="padding-top: 20px;"></td>
                <td th:text="${car.modelYear}" style="padding-top: 20px;"></td>
                <!-- if the car is not in an auction then it does not have a minimum price so don`t display this field -->
                <td>
                 <span th:if="${auctionsMinimumPriceList[stat.index] != 0} and ${car.status == T(com.auctions.hunters.model.enums.CarStatus).AUCTIONED}"
                       th:text="${auctionsMinimumPriceList[stat.index]}" style="padding-bottom: -20px;">
                 </span>

                    <i th:if="${auctionsMinimumPriceList[stat.index] == 0} and ${car.status == T(com.auctions.hunters.model.enums.CarStatus).NOT_AUCTIONED}"
                       class="fas fa-question-circle fa-lg" style="padding-top: 15px"
                       th:title="${car.status == T(com.auctions.hunters.model.enums.CarStatus).NOT_AUCTIONED} ? 'Prețul nu este stabilit' : ''">
                    </i>
                </td>
                <!-- if the car is in an auction then it can`t be deleted by the seller -->
                <td>
                    <a th:if="${car.status == T(com.auctions.hunters.model.enums.CarStatus).AUCTIONED}"
                       th:disabled="${car.status == T(com.auctions.hunters.model.enums.CarStatus).AUCTIONED}" disabled
                       th:href="@{/cars/{id}(id=${car.id})}"
                       class="btn btn-get-car" style="background-color: #606060"
                       th:title="${car.status == T(com.auctions.hunters.model.enums.CarStatus).AUCTIONED} ? 'Mașina nu poate fi stearsă deoarece se află intr-o licitatie' : ''">
                        <i class="fa fa-trash" style="color: white"></i>
                    </a>

                    <a th:if="${car.status == T(com.auctions.hunters.model.enums.CarStatus).NOT_AUCTIONED}"
                       th:href="@{/cars/{id}(id=${car.id})}"
                       class="btn btn-get-car" style="background-color: #ff0000">
                        <i class="fa fa-trash" style="color: white"></i>
                    </a>
                </td>

                <td>
                    <a th:href="@{/car/{id}(id=${car.id})}" class="btn btn-get-car">
                        <i class="fa fa-car"></i>
                    </a>
                </td>
                <!-- if the car is in an auction then it will display its status, otherwise a button will be displayed -->
                <td>
                    <a th:if="${car.status == T(com.auctions.hunters.model.enums.CarStatus).NOT_AUCTIONED}"
                       th:href="@{/create/auction/car/{id}(id=${car.id})}"
                       class="btn btn-get-car btn-primary" style="background-color: #2044f5">
                        <i class="fas fa-gavel"></i>
                    </a>

                    <!--TODO: UPDATE SPAN WITH DEV/P SO THAT THE STYLE IS APPLIED AND THE FIELDS ARE ALIGN-->
                    <span th:if="${car.status == T(com.auctions.hunters.model.enums.CarStatus).AUCTIONED}"
                          class="active-text" style="margin-top: 10px; width: 20px">Activ</span>

                    <span th:if="${car.status == T(com.auctions.hunters.model.enums.CarStatus).SOLD}"
                          class="active-text" style="margin-top: 10px; width: 20px">Vândut</span>
                </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>

<div class="pagination">
    <ul class="pagination" style="margin-left: 50px">
        <li th:class="${currentPage == 0}? 'disabled' : ''">
            <a th:href="@{/cars(page=0)}">First</a>
        </li>
        <li th:class="${currentPage == 0}? 'disabled' : ''">
            <a th:href="@{/cars(page=${currentPage - 1})}">Previous</a>
        </li>
        <li th:each="pageNumber : ${pageNumbers}" th:class="${currentPage == pageNumber}? 'active' : ''">
            <a th:href="@{/cars(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
        </li>
        <li th:class="${currentPage == pageNumbers.size() - 1}? 'disabled' : ''">
            <a th:href="@{/cars(page=${currentPage + 1})}">Next</a>
        </li>
        <li th:class="${currentPage == pageNumbers.size() - 1}? 'disabled' : ''">
            <a th:href="@{/cars(page=${pageNumbers.size() - 1})}">Last</a>
        </li>
    </ul>
</div>

<footer th:replace="/footer :: footer" style="margin-top: 200px;padding-top: 200px"></footer>

</body>
</html>
