<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<header th:fragment="nav_bar">
    <header>
        <div class="wrapper">
            <nav>
                <input type="checkbox" id="show-search">
                <input type="checkbox" id="show-menu">
                <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
                <div class="content">
                    <div class="logo"><a href="#">Vânătorii de Licitații</a></div>
                    <ul class="links">
                        <li><a th:href="@{/}">Acasă</a></li>

                        <li>
                            <a href="#" class="desktop-link">Mașinile mele</a>
                            <input type="checkbox" id="show-services">
                            <label for="show-services">Mașinile mele</label>
                            <ul>
                                <li><a th:href="@{/cars}">Listă mașini</a></li>
                                <li><a th:href="@{/car/add}" class="active">Adaugă o mașină</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="desktop-link">Licitații</a>
                            <label for="show-services2"></label>
                            <input type="checkbox" id="show-services2">
                            <label for="show-services">Licitații</label>
                            <ul>
                                <li><a th:href="@{/auctions}">Listă licitații</a></li>
                                <li><a th:href="@{/auctions/recommended}">Licitații recomandate</a></li>
                            </ul>
                        </li>

                        <li><a href="">Ghid licitare</a></li>
                        <li><a th:href="@{/login}">Deconectare</a></li>
                    </ul>
                </div>

                <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
                <form action="#" class="search-box">
                    <label>
                        <input type="text" placeholder="Type Something to Search..." required>
                    </label>
                    <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
                </form>

            </nav>
        </div>
    </header>
</header>
</body>
</html>