<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mașinile mele</title>
    <link rel="stylesheet" type="text/css" href="/css/navBarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/footerStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/noCarStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header th:replace="/nav_bar :: nav_bar"></header>

<div class="container">
    <h1 class="heading">Se pare că nu există nicio mașină de vânzare cu această categorie.</h1>
</div>

<footer th:replace="/footer :: footer"></footer>

</body>
</html>
