<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Plătește</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/navBarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/footerStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/paymentStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .price {
            font-weight: bold;
        }
        .car-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }
    </style>

</head>
<body>

<header th:replace="/nav_bar :: nav_bar"></header>

<main>
    <div class="container payment-form" style="margin-top: 150px">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="car-list mb-4">
                            <div th:each="car, count: ${carsToBuyList}" class="car-item">
                                <a th:href="@{/car/{id}(id=${car.id})}"
                                   th:text="${car.producer} + ' ' + ${car.model}"></a>
                                <span class="price" th:text="${'$' + carsPriceList[count.index]}"></span>
                            </div>
                        </div>

                        <p>Total
                            <span class="price" style="color:black" th:text="'Pretul total: ' + ${totalPrice}"></span>
                        </p>

                        <form method="post" action="/pay">
                            <input type="submit" value="Continue to checkout" class="btn btn-success">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer" style="margin-top: 300px">
    <div class="footer-container">
        <div class="footer-column">
            <h4>Ajutor și suport</h4>
            <ul>
                <li><a href="#">Ghid de licitare</a></li>
                <li><a href="#">Politică de confidențialitate</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Înregistrare în aplicație</h4>
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Top 5 cele mai căutate tipuri de mașini</h4>
            <ul>
                <li><a href="#">Sedan</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Vânătorii de Licitații. Toate drepturile sunt rezervate.</p>
    </div>
</footer>

</body>
</html>

