<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Tranzacție finalizată</title>
    <link rel="stylesheet" type="text/css" href="/css/paymentSuccessStyle.css">

    <script src="/js/redirectToHomepage.js"></script>
</head>
<body>
<div class="container">
    <h1>Tranzacție a finalizată</h1>
    <div class="message">
        <p>Vă mulțumim pentru plata dumneavoastră! Tranzacția dumneavoastră a fost finalizată cu succes.</p>
    </div>

    <p> Veți fi redirecționat la pagina principală în <span id="countdown">5</span> secunde.</p>
</div>
</body>
</html>
