<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adaugă imagini</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/navBarStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/footerStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"/>
    <link rel="stylesheet" type="text/css" href="/css/uploadImagesStyle.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/retrieveThumbnailImages.js"></script>
</head>
<body>
<header th:replace="/nav_bar :: nav_bar"></header>

<section>
    <div>
        <div class="row" style="margin: 200px 400px;">
            <div class="col-md-8 mx-auto">
                <form id="uploadForm" method="post" th:action="@{/images/upload}" enctype="multipart/form-data">
                    <div class="upload-area">
                        <i class="fas fa-cloud-upload-alt fa-3x"></i>
                        <label for="images" class="upload-text">
                            Drag &amp; Drop or <span>Browse</span>
                        </label>
                        <input type="file" id="images" name="images" accept="image/*" class="form-control-file"
                               multiple>
                    </div>

                    <div class="thumbnails"></div>
                    <button type="submit" class="btn btn-primary">Încarcă imaginile</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer th:replace="/footer :: footer"></footer>

</body>
</html>
