<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Înregistrare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/registerStyle.css">
</head>

<body>
<form th:action="@{/register/user}" th:object="${user}" method="post">
    <div class="box">
        <div class="form">

            <h2>Înregistrează-te</h2>

            <div class="inputBox">
                <label for="username"></label><input type="text" required="required" id="username" name="username">
                <span>Nume utilizator</span>
                <i></i>
            </div>

            <div class="inputBox">
                <label for="password"></label><input type="password" required="required" id="password" name="password">
                <span>Parola</span>
                <i></i>
            </div>

            <div class="inputBox">
                <label for="email"></label><input type="text" required="required" id="email" name="email">
                <span>Email</span>
                <i></i>
            </div>

            <div class="inputBox">
                <label for="cityAddress"></label><input type="text" required="required" id="cityAddress"
                                                        name="cityAddress">
                <span>Adresă</span>
                <i></i>
            </div>

            <div class="inputBox">
                <label for="phoneNumber"></label><input type="text" required="required" id="phoneNumber"
                                                        name="phoneNumber">
                <span>Număr de telefon</span>
                <i></i>
            </div>

            <div style="padding-top: 10px">
                <input type="submit" value="Salvează">
            </div>

            <div class="links">
                <a th:href="@{/login}">Ai deja un cont? Conectează-te</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>