<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Vizualizeaza masinile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    <link rel="stylesheet" type="text/css" href="/css/viewCarStyle.css">
</head>

<body>
<header>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

    <nav class="nav-bar">
        <ul>
            <li>
                <a th:href="@{/}">Acasă</a>
            </li>
            <li>
                <a th:href="@{/user/addCar}" class="active">Inventar</a>
                <ul>
                    <li><a th:href="@{/user/cars}">Masinile mele</a></li>
                </ul>
            </li>
            <li>
                <a href="">Cautare mașini</a>
                <ul>
                    <li><a href="">Option 1</a></li>
                    <li><a href="">Option 2</a></li>
                    <li><a href="">Option 3</a></li>
                </ul>
            </li>
            <li>
                <a href="">Ghid licitare</a>
            </li>
        </ul>
    </nav>

    <script>
        hamburger = document.querySelector(".hamburger");
        hamburger.onClick = function () {
            navBar = document.querySelector(".nav-bar");
            navBar.classList.toggle("active");
        }
    </script>
</header>


<main>
    <div class="content-wrapper">
        <div class="car-details">
            <div class="vehicle-info">
                <div class="vehicle-info">
                    <div class="info-row">
                        <div class="info-label">Serie șasiu</div>
                        <div class="info-value" th:text="${car.vin}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Producător:</div>
                        <div class="info-value" th:text="${car.producer}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Model:</div>
                        <div class="info-value" th:text="${car.model}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Anul fabricației:</div>
                        <div class="info-value" th:text="${car.modelYear}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Categorie:</div>
                        <div class="info-value" th:text="${car.body}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Dimensiune bloc motor în cm:</div>
                        <div class="info-value" th:text="${car.engineDisplacement}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Cai putere:</div>
                        <div class="info-value" th:text="${car.enginePower}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Combustibil:</div>
                        <div class="info-value" th:text="${car.fuelTypePrimary}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Transmisie:</div>
                        <div class="info-value" th:text="${car.transmission}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Tracțiune:</div>
                        <div class="info-value" th:text="${car.drive}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Numărul de uși:</div>
                        <div class="info-value" th:text="${car.numberOfDoors}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Numărul de locuri:</div>
                        <div class="info-value" th:text="${car.numberOfSeats}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Lungime:</div>
                        <div class="info-value" th:text="${car.length}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Înălțime:</div>
                        <div class="info-value" th:text="${car.height}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Lățime:</div>
                        <div class="info-value" th:text="${car.width}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Consumul mixt l/100km:</div>
                        <div class="info-value" th:text="${car.fuelConsumptionCombined}"></div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Normă de poluare:</div>
                        <div class="info-value" th:text="${car.emissionStandard}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a th:href="@{/user/createAuction/car/{id}(id=${car.id})}" class="btn-get-car">
        <i class="fa fa-car"></i> Creeaza licitatie</a>
</main>
</body>
</html>