<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
</head>

<body>

<!--<div class="highway"></div>-->
<!--<div class="city"></div>-->
<!--<div class="ceva"></div>-->

<button type="button">
    <a th:href="@{/buyer/register}">Buyer</a>
</button>

<button type="button">
    <a th:href="@{/seller/register}">Seller boiii</a>
</button>


</body>
</html>
